.main-list {
  display: inline-block;
  margin: 0;
  padding: 5px;
  list-style: none;
  border: 2px solid #000;
  background: #ccc;
  height: 100vh;
}
.main-inner {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 7px;
  background: #fff;
}

.main-inner:hover{
  background: orange;
}

.main-item {
  text-decoration: none;
  color: black;
}
