<ul class="main-list">
  <li class="main-inner"><a href="#" class="main-item">Боевики ></a></li>
  <li class="main-inner"><a href="#" class="main-item">Драмы ></a></li>
  <li class="main-inner"><a href="#" class="main-item">Комедии ></a></li>
  <li class="main-inner"><a href="#" class="main-item">Документальные ></a></li>
  <li class="main-inner"><a href="#" class="main-item">Мультфильмы ></a></li>
  <li class="main-inner"><a href="#" class="main-item">Ещё... ></a></li>
</ul>
