<div class="film-block">
  <app-card title="Время" icon="https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/02d70d58-ae4e-4ef4-b886-c215e9e99436/600x900" year="Год: 2011"></app-card>
  <app-card title="Игра в имитацию" icon="https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/49359d7b-8aa8-408f-bf07-407d49f439a0/600x900" year="Год: 2014"></app-card>
  <app-card title="Интерстеллар" icon="https://upload.wikimedia.org/wikipedia/ru/c/c3/Interstellar_2014.jpg" year="Год: 2014"></app-card>
</div>
